# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
env/
venv/
*.env

# Data files (besar)
data/*.csv
data/*.pkl
data/*.h5

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/
